@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: #252922;
  font-weight: 600;
}

p {
  text-align: justify;
  color: #252922;
  font-size: 1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* Landing page */

.landing-container {
  height: 100vh;
  text-align: center;
  background-image: url(/public/images/forest-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.landing-container p {
  position: absolute;
  width: 80%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 600;
  color: rgb(223, 223, 223);
  text-align: center;
}

.down-arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: rgb(223, 223, 223);
  cursor: pointer;
  animation: 2.5s ease 0s infinite normal none running arrow;
}

.down-arrow:hover {
  color: rgba(2, 19, 19, 255);
}

@keyframes arrow {
  from {
    font-size: 100px;
  }

  50% {
    font-size: 50px;
  }

  to {
    font-size: 100px;
  }
}

/* Navbar */

nav {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background: #252922;
  box-shadow: 0 0 5px 0 black;
  position: sticky;
  top: 0;
  width: 100%;
  font-weight: 600;
}


.nav-title {
  margin: auto 2%;
  color: rgb(223, 223, 223);
  letter-spacing: 2px;
  font-size: 1.25em;
}

.nav-list {
  flex-grow: 2;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background: #252922;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-button {
  display: none;
}

.nav-items {
  margin: auto 2%;
  color: rgb(223, 223, 223);
  list-style: none;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.1em;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: rgb(223, 223, 223);
}

.nav-link:hover {
  color: #61939B;
  border-radius: 10%;
}

/* About Me section */

.about-container {
  padding: 10vh 20px;
  min-height: 70vh;
  background-color: #cda58b;
}

.about-container h2 {
  width: 200px;
}

.section-title {
  margin-bottom: 10vh;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(transparent 50%, #71a9af 50%);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

.about-content {
  height: 700px;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr 3fr;
  grid-template-rows: 1.5fr 2.5fr 2fr 1.5fr 2.5fr 2fr 2fr;
}

.about-content::before {
  position: relative;
  z-index: 2;
  content: "";
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  background-color: #f2fcff;
  box-shadow: rgba(-50, -50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px -30px 60px -30px;
}

.about-content::after {
  z-index: 2;
  content: "";
  grid-column: 4 / span 2;
  grid-row: 4 / span 4;
  background-color: #f2fcff;
  box-shadow: rgba(-50, -50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px -30px 60px -30px;
}

.about-work-title {
  z-index: 10;
  grid-column: 1 / span 2;
  grid-row: 1;
  align-self: center;
}

.about-work-text {
  z-index: 10;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  padding: 0 20px;
  align-self: center;
}

.logo-up-right {
  font-size: 10em;
  grid-column: 5;
  grid-row: 1 / span 2;
  color: #252922;
}

.logo-down-left {
  font-size: 10em;
  grid-column: 1;
  grid-row: 6 / span 2;
  padding-left: 10vw;
  padding-top: 8vh;
  color: #252922;
}

.about-passion-title {
  z-index: 10;
  grid-column: 4 / span 2;
  grid-row: 4;
  align-self: center;
}

.about-passion-text {
  z-index: 10;
  grid-column: 4 / span 2;
  grid-row: 5 / span 2;
  padding: 0 20px;
  align-self: center;
}

.about-passion-logos {
  z-index: 10;
  grid-column: 4 / span 2;
  grid-row: 7;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.about-passion-logos img {
  max-width: 4vw;
}

.portrait-picture {
  grid-column: 2 / span 3;
  grid-row: 3 / span 3;
  z-index: 1;
  align-self: center;
  margin: 0 auto;
  max-height: 300px;
}

.cv-link {
  z-index: 10;
  margin: auto;
  padding: 10px;
  grid-column: 1 / span 2;
  grid-row: 4;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  color: #252922;
  border: 2px solid #252922;
  border-radius: 20px;
}

.cv-link:hover {
  animation: 0.5s ease-in 0s forwards link;
}

@keyframes link {
  from {
    background-color: none;
  }

  to {
    background-color: #71a9af;
  }
}

/* Project section */

.projects-container {
  padding: 15vh 0;
  min-height: 70vh;
  background-image: url(/public/images/drone-view.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.projects-container h2 {
  width: 170px;
}

.projects-container p {
  padding: 0 30px;
}

.projects-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 15vh;
}

.single-project-container {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, 15vh);
  justify-items: center;
  align-items: center;
  background-color: #f2fcff;
}

.project-img-even {
  grid-row: 1 / span 4;
  justify-self: left;
  align-self: stretch;
}

.project-title-even {
  grid-column-start: 2;
  grid-row-start: 1;
}

.project-text-even {
  grid-column-start: 2;
  grid-row: 2 / span 2;
  text-align: justify;
}

.project-img-odd {
  grid-column-start: 2;
  grid-row: 1 / span 4;
  align-self: stretch;
  justify-self: right;
}

.project-title-odd {
  grid-column-start: 1;
  grid-row-start: 1;
}

.project-text-odd {
  grid-column-start: 1;
  grid-row: 2 / span 2;
  text-align: justify;
}


/* Contact section */

.contact-container {
  padding: 15vh 25px;
  min-height: 60vh;
  background-color: #2f5153;
}

.contact-container h2 {
  width: 170px;
}

/* Footer */

footer {
  height: 10vh;
}

/* Responsivity for low width */

@media screen and (max-width: 520px) {

  .nav-title {
    z-index: 10;
  }

  .nav-list {
    position: absolute;
    width: 95.5vw;
    flex-direction: column;
    height: 250px;
  }

  .nav-items:nth-child(1) {
    margin-top: 50px;
    border-top: 1px solid white;
  }

  .nav-items {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid white;
    line-height: 50px;
  }

  .nav-items:nth-child(4) {
    border-bottom: none;
  }

  .nav-button {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -40%);
    font-size: 2em;
    cursor: pointer;
    border: none;
    background: transparent;
    color: rgb(223, 223, 223);
  }

  .nav-button:hover {
    color: #71a9af;
  }
}